html,
body {
  height: 100%;
  margin: 0;
  padding: 5px;
}

.div-general {
  width: 100%;
  height: 600px;
  display: flex;
  background-color: #f6f6f9;
}

.div1 {
  width: 50%;
  height: auto;
  margin: 2%;
  margin-left: 5%;
}

.estrella {
  width: 5%;
  height: auto;
  margin-top: 5%;
}

.informacion {
  font-size: 25px;
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.informacion h2 {
  margin-top: 2%;
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.checkInfo {
  display: block;
}

.check {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos */
}

.check svg {
  margin-right: 10px; /* Espacio entre el icono y el texto */
}

.check h3 {
  font-size: 16px; /* Establece el tamaño de fuente */
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.div2 {
  width: 50%;
  height: auto;
  display: block;
}



.google {
  display: block;
  margin-top: 20px;
  width: 60%;
  height: 200px;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 15px 15px 8px rgba(105, 103, 103, 0.182);
  margin-left: 30%;
  margin-top: 10%;
  transition: transform 0.3s ease; /* Transición suave para el efecto de zoom */
}

.google:hover {
  transform: scale(1.03); /* Aplica un ligero zoom al pasar el ratón por encima */
}






/* Ajustar estilos específicos para las imágenes */
.imagenGoogle {
  margin-right: 10px; /* Espacio entre la imagen de Google y las estrellas */
  width: 40%;
  height: auto;
  filter: drop-shadow(5px 5px 10px rgba(4, 4, 122, 0.3));
}

.star {
  width: 20px; /* Establece el ancho de las estrellas */
  height: auto; /* Deja que la altura se ajuste automáticamente */
  margin-right: 5px; /* Espacio entre las estrellas */
}



.googleSuperior {
  display: flex;
  justify-content: center; /* Alinea los elementos horizontalmente */
  align-items: center; /* Alinea los elementos verticalmente */
  margin-bottom: 1px; /* Ajusta el margen inferior para separar del div inferior */
}

.googleInferior {
margin-top: -50px;

}

.googleInferior h3 {
font-size: 20px;
font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
margin-left: 40px;
 }

 .googleInferior p {
  font-size: 13px;
  font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  margin-left: 40px;
   }
  







   .meta {
    display: block; /* Hace que los elementos dentro del contenedor se uno debajo del otro */
    margin-top: 20px; /* Ajusta el margen superior */
    width: 60%; /* Ancho del contenedor */
    height: 200px; /* Altura del contenedor */
    background-color: rgb(255, 255, 255); /* Color de fondo blanco */
    justify-content: center; /* Alinea los elementos horizontalmente */
    border: 1px solid #ccc; /* Borde sólido de 1px gris */
    border-radius: 8px; /* Borde redondeado */
    box-shadow: 15px 15px 8px rgba(105, 103, 103, 0.182);
    margin-top: 10%;
    transition: transform 0.3s ease; /* Transición suave para el efecto de zoom */
  }
  
  .meta:hover {
    transform: scale(1.03); /* Aplica un ligero zoom al pasar el ratón por encima */
  }

  
  


  .metaSuperior {
    display: flex;
    justify-content: center; /* Alinea los elementos horizontalmente */
    align-items: center; /* Alinea los elementos verticalmente */
    margin-top: 5%;
  }



  .imagenMeta {
    margin-right: 10px; /* Espacio entre la imagen de Google y las estrellas */
    width: 40%;
    height: auto;
    filter: drop-shadow(5px 5px 10px rgba(4, 4, 122, 0.345));

  }



   .metaInferior {
    margin-top: 0px;
    
    }
    
    .metaInferior h3 {
    font-size: 20px;
    font-family: "Sora", sans-serif;
      font-optical-sizing: auto;
      font-weight: 600;
      font-style: normal;
    margin-left: 40px;
     }
    
     .metaInferior p {
      font-size: 13px;
      font-family: "Sora", sans-serif;
        font-optical-sizing: auto;
        font-weight: 100;
        font-style: normal;
      margin-left: 40px;
       }



@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
